<div class="col-md-12 " style="margin-top: 50px;">
<h2>Student List</h2>
<table class="table table-striped" style="border: 1px solid #000;">
    <thead >
        <tr>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Address</th>
            <th style="text-align: center;">Action </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let Student of students">
            <td> {{ Student.name}} </td>
            <td> {{ Student.mobilenumber}} </td>
            <td> {{Student.email}} </td>
            <td> {{Student.address}} </td>
            <td style="text-align: center;"> 
                <button (click)="updatestudent(Student.id)" class="btn btn-info">Update</button>
                <button (click)="studentDetails(Student.id)" class="btn btn-info" style="margin-left: 10px;">View</button>
                <button (click)="deleteStudent(Student.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
</div>