<h3> Mr. {{student.name}} Details</h3>



<div>
    <table class="table table-striped" style="border: 1px solid #000; border-collapse: collapse">
        <thead >
            <tr>
                <th>Name</th>
                <td> {{ student.name}} </td>
            </tr>
            <tr>
                <th>Mobile Number</th>
                <td> {{ student.mobilenumber}} </td>
            </tr>
            <tr>
                <th>Email</th>
                <td> {{student.email}} </td>
            </tr>
            <tr>
                <th>Address</th>
                <td> {{student.address}} </td>
            </tr>
        </thead>
        
    
    </table>
</div>

